@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueLTPro-Lt.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueLTPro-Cn.otf');
  font-weight: 400;
}



html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

a {
  text-decoration: none;
  color:inherit;
}

body {
    background: url('../img/menubg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.plusIcon {
    font-size: 40px;
}

.overflowAuto {
  overflow: auto;
}

.solidColor {
  background: #E8EAEC;
}

.whiteBackground {
  background: #ffffff;
  -moz-box-shadow:    1px 1px 5px 6px #ccc;
  -webkit-box-shadow: 1px 1px 5px 6px #ccc;
  box-shadow:         .25px .25px 3px .25px #ccc;
}

/* Helper classes */

.darkBrown {
  color: #5B483B;
}

.fl {
  float: left;
}

.fw-400 {
  font-weight: 400;
}

.fz-14 {
  font-size: 14px;
}

.fz-18 {
  font-size: 18px;
}

.fz-22 {
  font-size: 22px;
}

.mx-2-b {
  margin-bottom: 2px;
}

.mx-5-b {
  margin-bottom: 5px;
}

.mx-10-b {
  margin-bottom: 10px;
}

.mx-15-b {
  margin-bottom: 15px;
}

.mx-10-t {
  margin-top: 10px;
}

.w-s-n {
  white-space: normal;
}

.w-bg {
  background: #ffffff;
}

/* Home
   ========================================================================== */

.home .header {
  padding-top: 20px;
}

.home .header .container {
  margin: 0 auto 0 auto;
  width: 90%;
}

.home .header .logo {
  height: 30px;
}

.home .header .nav {
    height: 40px;
    list-style-type: none;
}

.home .header .nav li {
    color: #ffffff;
    float: left;
    line-height: 40px;
    margin-top: 6px;
    text-align: center;
    vertical-align: middle;
    width: 60%;
}

.home .header .nav li:first-child {
    margin-top: 5px;
    text-align: left;
    width: 20%;
}

.home .header .nav li:last-child {
    margin-top: 0px;
    text-align: right;
    width: 20%;
}

/* Cards
   ========================================================================== */

.card {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  min-width: 400px;
  padding: 0 5%;
  width: 100%;
}

.card > li {
  /* use inline-block since it gives container width*/
  display: inline-block;
  margin-right: 30px;
}

.card > li:last-child {
  margin-right: 0;
}

.card .single {
  -webkit-border-radius: 3%; 
  -moz-border-radius: 3%; 
  border-radius: 3%; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  /* Set relative height later */
  height: 370px; 
  margin: 4% auto 0 auto;
  padding: 20px;
  width: 260px;
  position: relative;
}

.card .single:before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border: 10px solid transparent;
    border-top-color: #ffffff; 
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -20px;
}

.card .actions {
  margin: 10px auto;
  text-align: center;
  width: 80%;
}

.card .actions .attend, .card .actions .dismiss {
  width: 40px;
}

.card .author {
  color: #ffffff;
  text-align: center;
  margin-top: 2%;
}

.card .copy {
  /*font-size: 14px;*/
}

.card .profile {
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; 
  border: 2px solid #ffffff;
  display: block;
  margin: 17% auto 0 auto;
  width: 18%;
}

.card .leftSubhead, .card .rightSubhead {
  width: 50%;
}

/* TRANSITIONS */

.like {
  -webkit-transform: translateX(10%) rotate(5deg);
  -moz-transform: translateX(10%) rotate(5deg);
  -ms-transform: translateX(10%) rotate(5deg);
  -o-transform: translateX(10%) rotate(5deg);
  transform: translateX(10%) rotate(5deg);
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  -o-transition: -ms-transform 200ms ease-in;
  transition: transform 200ms ease-in;  
}

.dimissAnimation {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%); 
  -o-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  -o-transition: -ms-transform 200ms ease-in;
  transition: transform 200ms ease-in;  
}

.leaveRight {
  transform: translateX(100%) rotate(60deg);
  -webkit-transform: translateX(100%) rotate(60deg);
  -moz-transform: translateX(100%) rotate(60deg);
  -ms-transform: translateX(100%) rotate(60deg);  
  -o-transform: translateX(100%) rotate(60deg);   
  transform: translateX(100%) rotate(60deg);
  -webkit-transition: -webkit-transform 400ms ease-in;
  -moz-transition: -moz-transform 400ms ease-in;
  -o-transition: -ms-transform 400ms ease-in;
  transition: transform 400ms ease-in;  
}

.sideMenuContainer {
  width: 175px;
  z-index: -1;
  height: 100%;
  position: absolute;
  background-color:rgba(0,0,0,.6);
  display: none;
  top: 0;
}

.menu {
  list-style-type: none;
  width: 85%;
  height: 90%;
  margin: 30px auto;
}

.menu li {
  width: 100%;
  float: left;
  height: 45px;
  margin-bottom: 20px;
  color: #F3F3F3;
}

.menu i {
  float: left;
  width: 30%;
  float: left;
  border-radius: 50px;
}

.menuItem {
  float: left;
  width: 70%;
  height: 100%;
  line-height: 37px;
}

.menuItem p {
  margin-left: 8px;
}

.selectedMenuItem {
  color: #2ecc71;
}

.bodySlide {
    transform: translate(175px,0);
    -webkit-transform: translate(175px,0); /** Chrome & Safari **/
    -o-transform: translate(175px,0); /** Opera **/
    -moz-transform: translate(175px,0); /** Firefox **/
}

#panel {
    background: url('../img/background.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
    width: 100%;

}


/* Chat
   ========================================================================== */

/* Header */

.chat .header {
  padding-top: 10px;
}

.chat .header .container {
  margin: 0 auto;
  width: 90%;
}

.chat .header .nav {
    height: 40px;
    list-style-type: none;
}

.chat .header .nav li {
    color: #ffffff;
    float: left;
    line-height: 40px;
    margin-top: 4px;
    text-align: center;
    vertical-align: middle;
    width: 60%;
}

.chat .header .nav li:first-child {
    margin-top: 5px;
    text-align: left;
    width: 20%;
}

.chat .header .nav li:last-child {
    margin-top: 0px;
    text-align: right;
    width: 20%;
}

.chatEvent {
  color: #9F836B;
}

.chatContainer {
  margin: 20px auto 0 auto;
  width: 90%;
}

.chat .chatBubble {
  background: #ffffff;
  -webkit-border-radius: 25%; 
  -moz-border-radius: 25%; 
  border-radius: 6px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  position: relative;
  font-size: 13px;
}

.chat .chatBubble:before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #ffffff; 
    position: absolute;
    top: 8px;
    left: -8px;
}

.chat .input {
  position: absolute;
  bottom: 0;
  height: 40px;
  background: #ffffff;
  -moz-box-shadow:    1px 1px 5px 6px #ccc;
  -webkit-box-shadow: 1px 1px 5px 6px #ccc;
  box-shadow:         .25px .25px 3px .25px #ccc;
  width: 100%;
}

.chat .input span {
  background: blue;
}

.chat .inputArea {
  border: none;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 100%;
  resize: none;
  margin: 0 auto;
  padding: 15px 10px 15px 10px;
  width: 90%;
}

.chat .profile {
  border: 2px solid #ffffff;
  float: left;
  width: 12%;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; 
}

.chat .sent {
  background: #84D459;
  -webkit-border-radius: 25%; 
  -moz-border-radius: 25%; 
  border-radius: 6px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  position: relative;
  font-size: 13px;
}

.chat .sent:before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #84D459; 
    position: absolute;
    top: 8px;
    right: -8px;
}

