@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueLTPro-Lt.otf');
  font-weight: 200;
}


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

a {
  text-decoration: none;
  color:inherit;
}

body {
    background: url('../img/menubg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

.plusIcon {
    font-size: 40px;
}

.overflowAuto {
  overflow: auto;
}

/* Header
   ========================================================================== */

.headerContainer {
    margin: 2% auto 0 auto;
    width: 95%;
}

.headerLogo {
    display: block;
    margin: 0 auto;
    height: 30px;
}

.headerNav {
    height: 40px;
    list-style-type: none;
}

.headerNav li {
    color: #ffffff;
    float: left;
    line-height: 40px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 33.33%;
}

.headerNav li:first-child {
    margin-top: 5px;
    text-align: left;
}

.headerNav li:last-child {
    margin-top: 0px;
    text-align: right;
}

/* Cards
   ========================================================================== */

/* GLOBAL */

.cardCopy {
  color: #666667;
  font-size: 14px;
  margin-bottom: 10px; 
}

.cardTitle {
  color: #322922;
  font-size: 22px;
}

/* LOCAL */

.card {
  background: radial-gradient(ellipse 187px 184px at 13% 10%, transparent 57px, #ffffff 50px);
  -webkit-border-radius: 2%; 
  -moz-border-radius: 2%; 
  border-radius: 2%; 
  height: 75%;
  margin: 10% auto 0 auto;
  position: relative;
  width: 90%;  
}

.cardAuthor {
  color: #322922;
  font-size: 22px;
  word-wrap: break-all;
}

.cardEventContainer {
  margin: 40px auto 0 auto;
  width: 90%;
}

.cardLocation {
  color: #666667;
  font-size: 14px;
  word-wrap: break-all;
}

.cardHeaderContainer {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
  padding: 25px 0 0 15px;
  width: 60%;
}

.cardProfile {
  -webkit-border-radius: 100%; 
  -moz-border-radius: 100%; 
  border-radius: 100%; 
  border: 15px solid transparent;
  float: left;
  margin-left: -15px;
  margin-top: -15px;
  width: 28%;
}

/* TRANSITIONS */

.like {
  -webkit-transform: translateX(10%) rotate(5deg);
  -moz-transform: translateX(10%) rotate(5deg);
  -ms-transform: translateX(10%) rotate(5deg);
  -o-transform: translateX(10%) rotate(5deg);
  transform: translateX(10%) rotate(5deg);
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  -o-transition: -ms-transform 200ms ease-in;
  transition: transform 200ms ease-in;  
}


.leave {
  transform: translateX(100%) rotate(60deg);
  -webkit-transform: translateX(100%) rotate(60deg);
  -moz-transform: translateX(100%) rotate(60deg);
  -ms-transform: translateX(100%) rotate(60deg);  
  -o-transform: translateX(100%) rotate(60deg);   
  transform: translateX(100%) rotate(60deg);
  -webkit-transition: -webkit-transform 400ms ease-in;
  -moz-transition: -moz-transform 400ms ease-in;
  -o-transition: -ms-transform 400ms ease-in;
  transition: transform 400ms ease-in;  
}

.sideMenuContainer {
  width: 175px;
  z-index: -1;
  height: 100%;
  position: absolute;
  background-color:rgba(0,0,0,.6);
  display: none;
  top: 0;
}

.menu {
  list-style-type: none;
  width: 85%;
  height: 90%;
  margin: 30px auto;
}

.menu li {
  width: 100%;
  float: left;
  height: 45px;
  margin-bottom: 20px;
  color: #F3F3F3;
}

.menu i {
  float: left;
  width: 30%;
  float: left;
  border-radius: 50px;
}

.menuItem {
  float: left;
  width: 70%;
  height: 100%;
  line-height: 37px;
}

.menuItem p {
  margin-left: 8px;
}

.selectedMenuItem {
  color: #2ecc71;
}

.bodySlide {
    transform: translate(175px,0);
    -webkit-transform: translate(175px,0); /** Chrome & Safari **/
    -o-transform: translate(175px,0); /** Opera **/
    -moz-transform: translate(175px,0); /** Firefox **/
}

#panel {
    background: url('../img/background.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
    width: 100%;

}


